.initial-loading-screen {
   width: 100%;
   height: 100vh; 
   display: flex;
   box-sizing: border-box;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: white;

  .content {
    width: fit-content;
    height: fit-content;
   .title-sec {
    display: flex;
    align-items: baseline;
    

    h1 {
        width: fit-content;
        height: fit-content;
        margin: 0;
        padding: 0;
        margin-right: .5rem;
    }

    .container {
        overflow: hidden;
        white-space: nowrap;
        margin-right: 0px;
    }

    .text-reveal {
        display:inline-block;
        opacity: 0;
        padding-bottom: 10px;
        // transform: translateX(72%);
        // animation: revealText 2s forwards;
    }

    @keyframes container-x { 
       from {
        margin-right: 0;
       } to {
        margin-right: 73px;
       }
    }

    @keyframes revealText {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes demolish {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 1;
            transform: translateX(72.3%);
        }
    }
  
    .dot-container-wrapper {
    //    overflow: hidden;
    //   white-space: nowrap;
       transform: translateY(-8px);    
       .center-dot {
        width: .6rem;
        height: .6rem;
        transform: scale(300.0);
        border-radius: 50%;
        overflow: hidden;
        transform: scale(1.0) translateX(0);
        margin-left: -50px;
        margin-bottom: -50px;
        background-color: #000000;
        transition: all .5s ease forwards;
        animation: zoom-out cubic-bezier(0.77, 0, 0.175, 1) 1.5s forwards;
       }
    
   @keyframes slide-x-dot {
     from {
        margin-left: -50px;
     } to {
        margin-left:0px;
     }
   }

   @keyframes slide-x-return {
     from {
        margin-left: 0;
     } to {
        margin-left: -70px;
     }
   }

   @keyframes zoom-out {
     from {
        transform: scale(300.0) translateX(0);
     } to {
        transform: scale(1.0) translateX(0);
     }
    }
   }
  }
 }
}


//animation classes

.zoom-in {
    transform: scale(2.0);
    opacity: 0;
}
