.home-screen {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}
.home-screen .hero-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-screen .header {
  margin-top: 1rem;
}
.home-screen .hero-img-anim {
  width: 40%;
  height: 70vh;
}
.home-screen .content {
  z-index: 12;
  margin-top: 6rem;
}
.home-screen .content .home-hero {
  position: relative;
}
.home-screen .content .home-hero .left-col .hero-head {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  display: flex;
  font-size: 8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home-screen .content .home-hero .left-col .hero-head span {
  transform: translateY(300px);
}
.home-screen .content .home-hero .left-col .hero-head .hero-head-span1, .home-screen .content .home-hero .left-col .hero-head .hero-head-span2 {
  transform: translateY(300px);
}
.home-screen .content .home-hero .left-col .desc-section .desc {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  margin-left: 0.3rem;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home-screen .content .home-hero .left-col .desc-section .desc .desc-section-span1, .home-screen .content .home-hero .left-col .desc-section .desc .desc-section-span2, .home-screen .content .home-hero .left-col .desc-section .desc .desc-section-span3 {
  transform: translateY(300px);
}
.home-screen .content .home-hero .about-tagline-section {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 3rem;
  display: block;
}
.home-screen .content .home-hero .about-tagline-section p {
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  margin-right: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home-screen .content .home-hero .about-tagline-section p .tagline-span1, .home-screen .content .home-hero .about-tagline-section p .tagline-span2, .home-screen .content .home-hero .about-tagline-section p .char {
  transform: translateY(500px);
}
.home-screen .content .home-hero .about-tagline-section p .tagline-span2 {
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
}
.home-screen .content .bon-container {
  margin-top: 5rem;
}
.home-screen .content .bon-container h1 {
  font-size: 20rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  display: flex;
  font-size: 8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home-screen .content .bon-container h1 span {
  font-size: 15rem;
  transform: skewY(20deg);
  transform: translateY(300px);
}/*# sourceMappingURL=HomeScreen.component.css.map */