.home-screen {
    width: 100%;
    height: 100vh;
    // position: fixed;
    // top:0;
    // overflow-y: scroll;
    margin:0 auto;
    justify-content: center;
    
    .hero-img {
       width: 100%;
       height: 100vh; 
       position: absolute;
       z-index:-1; 
       margin: auto;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       object-fit: cover;
    }

    .header {
      margin-top: 1rem;
    }

    .hero-img-anim {
       width: 40%;
       height: 70vh;  
    }
    .content {
      z-index: 12;
      margin-top: 6rem;
    //  background-image: url('../../../../public//assets/hero-bg.jpg');

    //  background-repeat: no-repeat;
    //  background-position: center; 
    //  position: relative;
     .home-hero {
        position: relative;
        .left-col {
          
        //   .hero-head-wrapper {
        //     width: fit-content;
            // overflow: hidden;
            // white-space: nowrap;  
          .hero-head {
            width: fit-content;
            margin: 0;
            display: flex;
            font-size: 8rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        //    } 
          .char {
            // transform: translateY(300px);
          }
          span {
            transform: translateY(300px);
          }
          .hero-head-span1, .hero-head-span2 {
            transform: translateY(300px);
          }
         }
         .desc-section {
          .desc {
            width: fit-content;
            margin: 0;
            margin-left: .3rem;
            display: flex;
            font-size: 3rem;
            font-weight: 600;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        //    } 
          .char {
            // transform: translateY(300px);
          }
          .desc-section-span1, .desc-section-span2, .desc-section-span3 {
            transform: translateY(300px);
          }
          }
         }

       
        }

        .about-tagline-section {
            width: fit-content;
            position: absolute;
            bottom: 0;
            right: 3rem;
            display: block;

            p{
                text-align: left;
                width: fit-content;
                margin: 0;
                margin-right: 0;
                display: flex;
                font-size: 2rem;
                font-weight: 600;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              
               .tagline-span1, .tagline-span2, .char {
                transform: translateY(500px);
              }
               .tagline-span2{
                font-size: 1.2rem;
                color: rgb(153, 153, 153);
               }
            }
         }
     }

     .bon-container {
       margin-top: 5rem;
       h1{
            font-size: 20rem;
            width: fit-content;
            margin: 0;
            display: flex;
            font-size: 8rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

            span {
               font-size: 15rem;
               transform: skewY(20deg);
               transform: translateY(300px);
            }
       }
     }
   } 
}