.footer {
    width: 100%;
    height: fit-content;
    background-color: black;
    margin: auto;
    margin-bottom: -1rem;
   .footer-content {
     width: 100%;
     height: fit-content;   
     display: flex; 
     padding: 0rem 5rem;  
     justify-content: space-between;
     align-items: baseline;
     position: relative;

     .left-col {
        display: flex;
     .text1 {
       width: 150px;
       margin-right: 3rem;
      }

      h2 {
        margin-right: 3rem;
        cursor: pointer;
      }
    }
     
    .right-col {
        // width: 100px;
        // height: 100px;
        // background-color: black;
        overflow: hidden;
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        box-sizing: border-box;
        h3 {
            width: fit-content;
            height: fit-content;
            margin: 0;
            padding: 0;
            display: flex;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            // font-size: 30rem;
            span {
                transform: translateY(150px) translateX(100px);
                font-size: 25rem;
            }
        }
    }
  }
}