.work-page {
   width: 100%;
   height: fit-content;
   overflow-x: hidden;
   cursor: none;
   // color:#d9d9d97e;
   .content {
      width: 100%;
      display: grid;
      place-items: center;
      margin-top: 6rem;
      h1{
         display: flex;
         margin: 0;
         padding: 0;
         text-align: center;
         font-weight: 500;
         clip-path: polygon(0 0, 100% 0, 100% 150%, 0% 100%);
         
         .head-span1, .head-span2 {
            text-align: center;
            font-size: 7rem;
            transform: translateY(-300px);
         }
      }
      // color:#d9d9d99c;
      .projects {
         width: 100%;
         margin-top: 5rem;
         overflow-x: hidden;

         .projects-list {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            list-style-type: none;
            
            &:nth-child(1) > li {
               margin-left: 100%;
            }

            &:last-child{
               margin-right: 10rem;
            }

            .first-child {
               // margin-left:5rem;
            }
         }
      }
   }
}

.inside {
  padding: 1rem;
  opacity: 0;
  h4 {
   width: fit-content;
   font-size: .9rem;
   word-wrap: break-word;
   margin-right: 4rem;
  }
  .stack {
   display: flex;
  }
  .img-stack {
    width: 40px;
    height: 40px;
  }
}